<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    

    <title>Project Synerry</title>
    <style>
        :root {
            font-size: 62.5%;
        }

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            text-size-adjust: none;
            -webkit-text-size-adjust: none;
        }

        button:hover {
            cursor: pointer;
        }

        body {
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: #eae6e5;
        }

        .header {
            margin: 3rem 0 5rem 0;
        }

        .title,
        .sub-title {
            font-size: 4rem;
            text-align: center;
            font-family: Arial, Helvetica, sans-serif;
            color: #12130f;
        }

        .sub-title {
            font-size: 1.5rem;
            color: #8f8073;
        }

        .user-input {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
        }

        .user-input label {
            text-align: center;
            font-size: 1.5rem;
            font-family: Arial, Helvetica, sans-serif;
        }

        .user-input input {
            width: 80%;
            max-width: 35rem;
            font-family: Arial, Helvetica, sans-serif;
            outline: none;
            border: none;
            border-radius: 0.5rem;
            background-color: #9b8779;
            text-align: center;
            padding: 0.7rem 1rem;
            margin: 1rem 1rem 2rem 1rem;
        }

        .button {
            outline: none;
            border: none;
            border-radius: 0.5rem;
            padding: 0.7rem 1rem;
            margin-bottom: 3rem;
            background-color: #5b92799d;
            color: #12130f;
            font-family: Arial, Helvetica, sans-serif;
        }

        .qr-code {
            position: relative;
            z-index: 999;
            border-top: 0.5rem solid #8f8073;
            border-right: 0.5rem solid #8f8073;
            border-bottom: 1rem solid #8f8073;
            border-radius: 0.5rem solid;
            border-bottom-left-radius: 0.5rem solid;
            border-bottom-right-radius: 0.5rem solid;
            border-left: 0.5rem solid #8f8073;
            background-color: 0.5rem solid #8f8073;
            margin-bottom: 6rem;
        }

        .qr-code button {
            display: flex;
            justify-content: center;
            background-color: #8f8073;
            font-family: Arial, Helvetica, sans-serif;
            color: #eae6e5;
            border: none;
            outline: none;
            width: 100%;
            height: 100%;
            margin-top: 1rem;
        }

        .qr-code button a {
            width: 100%;
            height: 100%;
            text-decoration: none;
            color: #eae6e5;
        }
        

       
    </style>
</head>

<body>


    
    <div class="heading">
        <div class="title">QRCodes</div>
        <div class="sub-title">Generate QRCodes for anything!</div>
    </div>
    
    
       <form action="/shortUrls" method="POST" class="user-input">
        <label for="fullUrl">Type something...</label>  
        <input type="text" name="fullUrl" id="fullUrl" autocomplete="off">
        <button class="button" class="button" type="submit"> Generate QR CODE</button>
    </form>
    <div class="qr-code" style="display: none;"></div>
    <center><div class="container">
        <h1>Short URL</h1> 
         <!-- <form action="/shortUrls" method="POST" class="my-4 form-inline">
           <label for="fullUrl" class="sr-only">Url</label>
           <input required placeholder="Url"  type="url" name="fullUrl" id="fullUrl" class="form-control col-md-8">
           <button class="btn btn-success" type="submit">Clicks</button></center>
         </form> -->
         <center><style>
            .tbl {  border-collapse: collapse; width:300px; }
            .tbl th, .tbl td { padding: 5px; border: solid 1px #777; }
            .tbl th { background-color: #8f8073; }
            .tbl-separate { border-collapse: separate; border-spacing: 5px;}
          </style>
         <table  id="mytable" class="tbl" >
           <thead class="mx-4" >
             <tr>
                <th>Full URL</th>
               <th>Short URL</th>
               <th>Clicks</th>
             </tr>
           </thead>
           <tbody>
             <% shortUrls.forEach(shortUrl => { %>
               <tr>
                 <td><a href="<%= shortUrl.full %>"><%= shortUrl.full %></a></td>
                 <td><a href="<%= shortUrl.short %>"><%= shortUrl.short %></a></td>
                 <td><%= shortUrl.clicks %></td>
               </tr>
             <% }) %>
           </tbody>
          </table></center>
       </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js"></script>

    <script>
        let btn = document.querySelector(".button");
        let qr_code_element = document.querySelector(".qr-code");

        btn.addEventListener("click", () => {
            let user_input = document.querySelector("#fullUrl");
            if (user_input.value != "") {
                if (qr_code_element.childElementCount == 0) {
                    generate(user_input);
                } else {
                    qr_code_element.innerHTML = "";
                    generate(user_input);
                }
            } else {
                console.log("Not valid input");
                qr_code_element.style = "display : none";
            }
        })

        function generate(user_input) {
            qr_code_element.style = "";

            var qrcode = new QRCode(qr_code_element, {
                text: `${user_input.value}`,

                wideth: 180,
                height: 180,
                colorDark: "#000000",
                colorLight: "#ffffff",
                correctLevel: QRCode.CorrectLevel.H
            })

            let download = document.createElement("button");
            qr_code_element.appendChild(download);

            let download_link = document.createElement("a");
            download_link.setAttribute("download", "qr_code.png");
            download_link.innerHTML = "Download";
            download.appendChild(download_link);

            let qr_code_img = document.querySelector(".qr-code img");
            let qr_code_canvas = document.querySelector("canvas");

            if (qr_code_img.getAttribute("src") == null) {
                setTimeout(() => {
                    download_link.setAttribute("href", `${qr_code_canvas.toDataURL()}`)

                }, 300)
            } else {
                setTimeout(() => {
                    download_link.setAttribute("href", `${qr_code_canvas.getAttribute(src)}`)

                }, 300)
            }
        }


    </script>
</body>


</html>